#playground{
    background: #e0ffe0;
    width: 400px;
    height: 200px;
    position: relative;
    overflow: hidden;
}
#ball {
    background: #fbb;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 150px;
    top: 100px;
    border-radius: 10px;
}
.paddle {
    background: #bbf;
    left: 50px;
    top: 70px;
    position: absolute;
    width: 14px;
    height: 70px;
}
#paddleB {
    left: 320px;
}
#msg{
    left: 200px;
    top: 100px;
    color: #fff;
}
