/* Custom container */
.container-narrow {
  margin:0px auto 0;
  //max-width: 760px;
  min-width: 800px;
  width: 84%;
}

.container-narrow > .content{
    padding-top: 20px;
    padding-left: 15px;
    margin-top: 20px;
    width: 85%;
    min-width: 750px;
    float: left;
}

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right;
}

.navbar{
    left: 0px;
    top: 0px;
    position: fixed;
    background: #ffffff;
    border:1px solid #d4d4d4;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
}

.navbar .title{
    font-size: 24px;
    color: #9E3B33;
    float: left;
    display: block;
    padding: 10px 20px 10px;
    text-align: center;
    font-weight: bold;
    -webkit-transform: rotate(0deg) scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 150ms;
    -moz-transform: rotate(0deg) scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 150ms;
}

.navbar .title:hover{
    -webkit-transform: rotate(-2deg) scale(1.2,1.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 150ms;
    -moz-transform: rotate(-2deg) scale(1.2,1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 150ms;
}

#content-wrap{
    float: left;
    margin-left: 30px;
    margin-right: 30px;
}

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  clear: both;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }
